.mat-form-field{
  width: 500px;
  margin-left: 33rem;
  margin-top: 1rem;
  position: relative;
  
 
}
.search-css{
  background-color: #3f51b5;
  color: #fff;
  width: 7rem;
  height: 50px;
  font-size: 12px;
  position: absolute;
  left:26rem;
  top:9.9rem;

}

