<mat-card class="login-main">
  <mat-card-content class="login-content">
    <img
      mat-card-image
      class="imag-css"
      src="../../assets/ngelec.png"
      alt="Photo of a Shiba Inu"
    />
    <!-- <p class="input-field"> -->
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" type="email" name="email" />
      </mat-form-field>
      <!-- </p> -->
      <!-- <p class="input-field"> -->
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="password"
          name="password"
        />
      </mat-form-field>
      <section>
        <div class="signIn-button-row">
          <button mat-raised-button type="submit" class="butn-signIn">
            SIGNIN
          </button>
        </div>
      </section>
      <!-- </p> -->
    </form>
  </mat-card-content>
</mat-card>
