<!-- <p>
  <mat-toolbar color="secondary" class="main-header">
    <div class="header-main">
      <span>My App</span>
      <span class="example-spacer"> </span>
      <div class="iconheader">
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>

        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <div style="margin-top: 10px">
      <p>Name : {{ Title }}</p>
      <p>Name : {{ Name }}</p>
    </div>
  </mat-toolbar>
</p> -->

<mat-toolbar class="color-spacer">
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>My App</span>
  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
  <span>My App</span>
</mat-toolbar>
