<p>
  <mat-toolbar color="secondary" class="main-header">
    <div class="header-main">
      <p>Name</p>
      <br />
      <p>Rose Petal</p>

      <p>Flower Title</p>
      <p>Unit Clerk</p>
      <!-- <span>My App</span> -->
      <!-- <span class="example-spacer"> </span> -->
      <!-- <div class="iconheader">
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>

        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </div> -->
    </div>
  </mat-toolbar>
</p>
